body {
 display: grid;
    min-height: 100vh;
    background-color: rgb(197, 186, 150);
  }


img{
    height:100px;
    width:100px    
}

.pad{
    padding-top: 2vmin;
}



.cen{
   padding-left: 150px;
   position: fixed;
}

 
#space{
  height:auto;
  width: 92%;
  padding-left: 150px;
  position: relative; 
}

.buttarr{
  height: 40px;
  width: 150px;
  margin: 5px 5px 5px 5px;
}


